


@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}

.react-flow__edge-path {
  stroke-dasharray: 5, 5;
  stroke-dashoffset: 0;
  animation: dash 2s linear infinite;
}

.select-default {
  background-color: lightgray;
}

.select-focused:focus {
  background-color: white;
}